*.gmo
stamp-it
.deps
.libs
stamp-h1
Makefile.in
Makefile
test-menu-parser
test-menu-spec
*.o
*.lo
*.la
*.so
gtk-doc.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4/
missing
mkinstalldirs
Makefile.in.in
*.stamp
version.xml
*.tar.bz2
*.tar.gz
garcon-decl-list.txt
garcon-decl-list.txt.bak
garcon-decl.txt
garcon-decl.txt.bak
garcon-undeclared.txt
garcon-undocumented.txt
garcon-unused.txt
garcon.args
garcon.hierarchy
garcon.interfaces
garcon.prerequisites
garcon.signals
docs/reference/html/*
docs/reference/tmpl/*
docs/reference/xml/*
po/.intltool-merge-cache
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.in
configure.ac
ChangeLog
depcomp
garcon-1.pc
garcon-config.h
INSTALL
POTFILES
data/expidus/expidus-accessories.directory
data/expidus/expidus-development.directory
data/expidus/expidus-education.directory
data/expidus/expidus-games.directory
data/expidus/expidus-graphics.directory
data/expidus/expidus-hardware.directory
data/expidus/expidus-multimedia.directory
data/expidus/expidus-network.directory
data/expidus/expidus-office.directory
data/expidus/expidus-other.directory
data/expidus/expidus-personal.directory
data/expidus/expidus-screensavers.directory
data/expidus/expidus-settings.directory
data/expidus/expidus-system.directory
garcon-gtk/garcon-gtk3-1.pc
garcon/garcon-2.pc
garcon/garcon-marshal.c
garcon/garcon-marshal.h
garcon/stamp-garcon-marshal.h
gtk-doc.m4
tests/test-display-menu
tests/test-display-menu-gtk3
po/.intltool-merge-cache
